@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,400;0,700;1,600&family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=M+PLUS+Rounded+1c:wght@400;700&family=Montserrat:wght@700&family=Roboto:wght@400;700&family=Rubik:wght@400;500;700&family=Sora:wght@400;800&family=Ubuntu:wght@400;700&family=Vollkorn+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #110e1b !important;
  color: #e0e1dd !important;
  font-family: 'Montserrat', sans-serif !important;
}

html,
body,
#root,
.App {
  min-height: 100%;
}
